.skillholder {
  margin: 0 50px 0px 50px;
  height: 90px;
  position: relative;
}

.skillholder .icon img {
  width: 80px;
  height: 80px;
  display: inline-block;
}

.bar {
  width: 70%;
  height: 30px;
  background-color: #555;
  position: absolute;
  top: 25px;
  left: 120px;
}

.fillbar {
  height: 30px;
  background-color: #f54;
  position: absolute;
  padding-left: 20px;
  line-height: 30px;
  width:18%;
}

.grow-60{
  /*call the animation*/
  animation-name: grow60;
  animation-duration: 4s;
  animation-delay:0.5s;
  /*keep new state after effect*/
  animation-fill-mode: forwards;
}

.grow-70{
  /*call the animation*/
  animation-name: grow70;
  animation-duration: 4s;
  animation-delay:0.5s;
  /*keep new state after effect*/
  animation-fill-mode: forwards;
}

.grow-80{
  /*call the animation*/
  animation-name: grow80;
  animation-duration: 4s;
  animation-delay:0.5s;
  /*keep new state after effect*/
  animation-fill-mode: forwards;
}

.grow-90{
  /*call the animation*/
  animation-name: grow90;
  animation-duration: 4s;
  animation-delay:0.5s;
  /*keep new state after effect*/
  animation-fill-mode: forwards;
}

.grow-100{
  /*call the animation*/
  animation-name: grow100;
  animation-duration: 4s;
  animation-delay:0.5s;
  /*keep new state after effect*/
  animation-fill-mode: forwards;
}

/*animation*/
@keyframes grow60 {
  from {width:18%}
  to {width: 60%}
}

@keyframes grow70 {
  from {width:18%}
  to {width: 70%}
}

@keyframes grow80 {
  from {width:18%}
  to {width: 80%}
}

@keyframes grow90 {
  from {width:18%}
  to {width: 90%}
}

@keyframes grow100 {
  from {width:18%}
  to {width: 100%}
}
