.meimganimate {
  position:relative;
  width: 296px;
  height: 377px;
  margin: 0 auto;
}

.me-holder {
  position:absolute;
  left:0;
  top:0;
  width:300px;
  height:385px;
}

.fade-true {
  /*call the animation*/
  animation-name: fadeout;
  animation-duration: 2s;
  animation-delay:0.5s;
  /*keep new state after effect*/
  animation-fill-mode: forwards;
  /*initial state before effect*/
  opacity:1;
}

.shift-left {
  position:absolute;
  /*call the animation*/
  animation-name: shift-left;
  animation-duration: 2s;
  animation-delay:2s;
  /*keep new state after effect*/
  animation-fill-mode: forwards;
}

.shift-right {
  position:absolute;
  /*call the animation*/
  animation-name: shift-right;
  animation-duration: 2s;
  animation-delay:2s;
  /*keep new state after effect*/
  animation-fill-mode: forwards;
}

/*animation*/
@keyframes fadeout {
  from {opacity:1}
  to {opacity:0}
}

@keyframes shift-left {
  from {left: 0}
  to {left: 200px}
}

@keyframes shift-right {
  from {right: 0}
  to {right: 200px}
}
